In [1]:
%matplotlib inline
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
import keyword
import sklearn
import random
from sklearn import model_selection
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression 
from sklearn import datasets
from sklearn import model_selection
from sklearn import linear_model
from sklearn.feature_extraction.text import CountVectorizer
from sklearn import metrics
from sklearn.model_selection import train_test_split
from IPython.display import set_matplotlib_formats
from pprint import pprint

In [2]:
# Aim: Detect language

In [3]:
df = pd.read_csv('dataset.csv')
df

                                                    Text  language
0      klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1      sebes joseph pereira thomas  på eng the jesuit...   Swedish
2      ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai
3      விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil
4      de spons behoort tot het geslacht haliclona en...     Dutch
...                                                  ...       ...
21995  hors du terrain les années  et  sont des année...    French
21996  ใน พศ  หลักจากที่เสด็จประพาสแหลมมลายู ชวา อินเ...      Thai
21997  con motivo de la celebración del septuagésimoq...   Spanish
21998  年月，當時還只有歲的她在美國出道，以mai-k名義推出首張英文《baby i like》，由...   Chinese
21999   aprilie sonda spațială messenger a nasa și-a ...  Romanian

[22000 rows x 2 columns]

In [4]:
# clean data
df['Text'] = df['Text'].str.replace('《',' ')
df['Text'] = df['Text'].str.replace("?"," ")
df['Text'] = df['Text'].str.replace("!"," ")
df['Text'] = df['Text'].str.replace("》"," ")
df['Text'] = df['Text'].str.replace(":"," ")
df['Text'] = df['Text'].str.replace(";"," ")
df['Text'] = df['Text'].str.replace("\n"," ")
df['Text'] = df['Text'].str.replace("\""," ")
df['Text'] = df['Text'].str.replace("„"," ")
df['Text'] = df['Text'].str.replace("\u200c"," ")

<ipython-input-4-a870d2d70e11>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['Text'] = df['Text'].str.replace("?"," ")

In [5]:
df

                                                    Text  language
0      klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1      sebes joseph pereira thomas  på eng the jesuit...   Swedish
2      ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai
3      விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil
4      de spons behoort tot het geslacht haliclona en...     Dutch
...                                                  ...       ...
21995  hors du terrain les années  et  sont des année...    French
21996  ใน พศ  หลักจากที่เสด็จประพาสแหลมมลายู ชวา อินเ...      Thai
21997  con motivo de la celebración del septuagésimoq...   Spanish
21998  年月，當時還只有歲的她在美國出道，以mai-k名義推出首張英文 baby i like ，由...   Chinese
21999   aprilie sonda spațială messenger a nasa și-a ...  Romanian

[22000 rows x 2 columns]

In [6]:
X_train, X_test, y_train, y_test = train_test_split(df['Text'],df['language'], test_size=0.33, random_state=42)
# print("X_train -> ", X_train)
# print("X_test -> ", X_test)
# print("y_train -> ", y_train)
# print("y_test -> ", y_test)

In [7]:
vectorizer = CountVectorizer(analyzer='word', ngram_range=(1, 2))
vec_X_train = vectorizer.fit_transform(X_train)
vec_X_test = vectorizer.transform(X_test)

# print(vec_X_test.shape)
# print(vec_X_train.shape)
# print(vectorizer.get_feature_names())
# for i in range(1000):
#     print(vectorizer.get_feature_names()[i])

In [8]:
model = MultinomialNB()
model.fit(vec_X_train,y_train)

MultinomialNB()

In [9]:
model.predict(vec_X_test)
print(X_test)

13035    武器システムにおいては、上述の通り、アスロック対潜ミサイルのmk gmls（mk 連装発射機...
3115     в апреле  года ломоносов за дерзкое поведение ...
8732     bagnizeau est commune francicum  incolarum ann...
7591     قاسم اباد د ننگرهار ولایت د بهسودو ولسوالۍ له ...
221      सार्क कॉन्सोर्टियम ऑन ओपन एंड डिस्टेंस लर्निंग...
                               ...
2836     florimont est une commune française située dan...
15903    în cazul verbelor se dă numai forma pe care o ...
19680    neubrandenburg  yeni brandenburg  almanyanın m...
19691    يعيش في يلوستون ثمانية عشر نوعًا من الأسماك من...
5049     while distinctive as a species itself the gene...
Name: Text, Length: 7260, dtype: object

In [10]:
model.score(vec_X_test,y_test)

0.9584022038567493

In [11]:
text = input("Enter something: ")

Enter something: สวัดดี

In [12]:
model.predict(vectorizer.transform([text]))

array(['Thai'], dtype='<U10')

In [15]:
# japanese
# estonia
# persian
# latin

In [16]:
# print(text)